
/* /////////////////////////////////// Header ////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */
header {
  width: 100%;
  margin: 0;
  border-bottom: 3px solid #7d97ad;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.header__title {
  text-transform: uppercase;
  text-align: right;
  font-family: fantasy, serif, sans-serif;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 0 0 100%;
  position: relative;
  color: #2d3c49;
}

.header__logo {
  width: 90px;
  height: 90px;
  text-align: left;
  position: absolute;
}
/* ///////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////// Portfolio Image//////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */
.protfolio__image {
  margin: 3% 0 0 0;
  width: 100%;
  height: 400px;
  background-image: url("https://scontent.fatl1-1.fna.fbcdn.net/v/t1.0-9/31531318_1631888270181445_600869364979204096_n.jpg?_nc_cat=0&oh=0712c37c47f283078268a3bf39e67124&oe=5B59D1F0");
  background-size: 100% 100%;
  border: 1px solid black;
  box-shadow: 0px 3px 20px 10px grey;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
}
/* ///////////////////////////////////////////////////////////////////////////// */


/* ///////////////////////////// Featured Work ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */
.featured__work {
  text-transform: uppercase;
  color: #7d97ad;
  width: 100%;
  text-decoration: underline;
}

#project_1 {
  width: 85%;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
}

#project_2 {
  width: 75%;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
}

#project_3 {
  width: 70%;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
}

.project_anchor_1, .project_anchor_2, .project_anchor_3 {
  font-size: 15px;
}

.project_anchor_1, .project_anchor_2, .project_anchor_3, #project_1, #project_2, #project_3{
  float: right;
}

#project_list {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
/* ///////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////// Footer /////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */
footer {
  border-top: 3px solid black;
  text-align: right;
  width: 100%;
}
/* ///////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////// Responsiveness ///////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 499px) {
  .header__title {
    width: 490px;
    margin: 0 0 0 30%;
  }
  .protfolio__image {
    margin: 5% 0 0 0;
    height: 250px;
    width: 100%;
    background-size: 100% 80%;
  }
}

@media screen and (min-width: 500px) and (max-width: 650px){
  .header__title {
    width: 100%;
    margin: 0 0 0 30%;
  }
  .protfolio__image {
    width: 100%;
    height: 300px;
  }
}

@media screen and (min-width: 650px) and (max-width: 899px){
  .header__title {
    width: 100%;
    margin: 0 0 0 30%;
  }
  .portfolio__image {
    width: 100%;
    height: 400px;
  }
  #project_list {
    width: 100%;
    margin: 0 0 5% 0;
  }
}

@media screen and (min-width: 900px) {
  .header__title {
    width: 80%;
    margin: 0 0 0 30%;
  }
  header {
    width: 80%;
    margin: 0 10% 0 10%;
  }
  .protfolio__image {
    width: 80%;
    height: 400px;
    margin: 3% 10% 0 10%;
  }
  .featured__work {
    margin: 0 10% 0 10%;
    width: 80%;
  }
  #project_list {
    width: 100%;
    margin: 0 0 5% 0;
  }
}

@media screen and (max-width: 750px) {

  #project_list {
    display: flex;
    flex-wrap: wrap;
  }

  #project_1, #project_2, #project_3, .project_anchor_1, .project_anchor_2, .project_anchor_3 {
    /* flex-wrap: nowrap; */
    width: 80%;
    margin: 0 10% 0 10%;
  }

  .pro_1 {
    width: 100%;
    margin: 0 0 10% 0;
  }
  .pro_2 {
    width: 100%;
    margin: 0 0 10% 0;
  }
  .pro_3 {
    width: 100%;
    margin: 0 0 10% 0;  }
}

@media screen and (min-width: 500px) and (max-width: 750px) {

  #project_list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .pro_1 {
    width: 100%;
    order: 1;
    margin: 0 0 10% 0;
  }
  .pro_2 {
    width: 100%;
    order: -1;
    margin: 0 0 10% 0;
  }
  .pro_3 {
    width: 100%;
  }
}
/* ///////////////////////////////////////////////////////////////////////////// */
